body{
    background-color: #000;
}
td {
    border: 2px solid rgb(156, 91, 91);
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td {
border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
    }


table tr td:first-child {   
    border-left: 0;
    }


table tr td:last-child {
    border-right: 0;
    }


.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color:rgba(156, 91, 91, 0.607);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 30px;
    color: rgb(255, 254, 254);
    font-size: 2rem;
}

button {
    border: 2px solid rgba(201, 73, 201, 0.816);
    background-color: rgba(201, 73, 201, 0.816);
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px solid rgba(201, 73, 201, 0.816);
}
.huplayer {
    color: rgb(156, 91, 91);
}

.aiplayer {
    color: rgba(201, 73, 201, 0.816);
}