body{
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.title1 {
    position: absolute;
    left: 50%;
}

.logo {
    color: rgb(255, 51, 255);
    box-shadow: rgba(250, 0, 250, 0.702) 0px 54px 55px, rgba(250, 0, 250, 0.652) 0px -12px 30px, rgba(250, 0, 250, 0.652) 0px 4px 6px, rgba(250, 0, 250, 0.656) 0px 12px 13px, rgba(250, 0, 250, 0.652) 0px -3px 5px;
    font-size: 20px;
    border-radius: 8px;
}

.box-rules {
     background-color: rgb(63, 47, 161);
     width: 450px;
     height: 250px;
     line-height: 20px;
     left: 100px;
     top: 70px;
     position: absolute;
     border-radius: 20px;

}


.rules {
    position: relative;
    left: 2%;
    top: 5%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}


td {
    border: 2px solid rgb(156, 91, 91);
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50%;
    border-radius: 10px;
    box-shadow: rgba(85, 104, 191, 0.56) 0px 20px 100px 70px;
}


table tr:first-child td {
border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
    }


table tr td:first-child {   
    border-left: 0;
    }


table tr td:last-child {
    border-right: 0;
    }


.userWon {
    background-color: pink;
}

.endgame {
    display: none;
    width: 200px;
    top: 380px;
    background-color:  rgba(156, 91, 91, 0.357);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 30px;
    color: rgb(255, 254, 254);
    font-size: 2rem;
}

button {
    background-color: rgba(215, 8, 215, 0.816);
    color: #ffffff;
    border-radius: 20px;
}
.hu_player {
    color: rgb(248, 133, 133);
}
.hu {
    background-color: coral;
}

@media screen and (min-width: 300px) and (max-width: 640px) {

    .title1 {
        left: 75%;
        margin-left: -155px;
    }


    .box-rules {
        background-color: rgb(164, 66, 128);
        position: absolute;
        left: 55%;
        margin-left: -155px;
        top: 8%;
        width: 280px;
    }

    .rules{
        left: 2%;
        font-size: 12px;
    }

    table {
        width: 250px;
        left: 60%;
        top: 55%;
    }

    .endgame {
        top: 450px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {

    .box-rules {
        background-color: rgba(62, 47, 161, 0.692);
        left: 20px;
        top: 95px;
    }

    .rules{
        left: 2%;
        top: 5%;
        font-size: 16px;
    }

    table {
        position: absolute;
        top: 60%;
    }

    .endgame {
        top: 550px;
    }
}


.score {
    background-color: rgb(172, 198, 69);
    width: 250px;
    position: absolute;
    left: 60%;
    top: 220px;
    text-align: center;
    border-radius: 30px;
}

.score h2{
    position: relative;
    top:-20px;
}

.gameCount {
    color:rgb(63, 47, 161);
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -50px;
}



.keepScore{
      display: flex;
      justify-content: space-around;
      border-radius: 25px;
}

.containScore {
    color: #000;
    background-color: rgb(240, 248, 255);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
}

@media screen and (min-width: 300px) and (max-width: 640px){
    .score {
        position: absolute;
        left: 10%;
        top: 45%;
        height: 8vh;
     }

    .score h2 {
        color: rgb(172, 198, 69);
        height: 2vh;
    } 

    .gameCount {
        top: -70px;
     }

    .containScore{
        top: -85px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .score {
            position: absolute;
            left: 40%;
            top: 44%;
            height: 12vh;
         }
}