body{
    background-color: #000;
}

.title1 {
    position: absolute;
    left: 50%;
}

.logo {
    color: rgb(255, 51, 255);
    box-shadow: rgba(250, 0, 250, 0.702) 0px 54px 55px, rgba(250, 0, 250, 0.652) 0px -12px 30px, rgba(250, 0, 250, 0.652) 0px 4px 6px, rgba(250, 0, 250, 0.656) 0px 12px 13px, rgba(250, 0, 250, 0.652) 0px -3px 5px;
    font-size: 20px;
    border-radius: 8px;
}

.box-rules {
     background-color: rgb(63, 47, 161);
     width: 450px;
     height: 200px;
     line-height: 20px;
     left: 100px;
     top: 60px;
     position: absolute;
     border-radius: 20px;

}


.rules {
    position: relative;
    left: 2%;
    top: 5%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}


td {
    border: 2px solid rgb(156, 91, 91);
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50%;
    border-radius: 10px;
    box-shadow: rgba(85, 104, 191, 0.56) 0px 20px 100px 70px;
}


table tr:first-child td {
border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
    }


table tr td:first-child {   
    border-left: 0;
    }


table tr td:last-child {
    border-right: 0;
    }


.endgame {
    display: none;
    width: 200px;
    top: 380px;
    background-color:rgba(156, 91, 91, 0.607);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 30px;
    color: rgb(255, 254, 254);
    font-size: 2rem;
}

button {
    border: 2px solid rgba(201, 73, 201, 0.816);
    background-color: rgba(201, 73, 201, 0.816);
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px solid rgba(201, 73, 201, 0.816);
}
.huplayer {
    color: rgb(156, 91, 91);
}

.aiplayer {
    color: rgba(201, 73, 201, 0.816);
}

@media screen and (min-width: 300px) and (max-width: 640px) {

    .box-rules {
    background-color: rgb(164, 66, 128);
    left: 20px;
    width: 200px;
    }

    .rules{
        left: 2%;
        top: 5%;
        font-size: 9px;
    }

    table {
        position: absolute;
        top: 330px;
        left: 50%;
        margin-left: -120px;
        width: 250px;
    }
}